// <svg className="arrow_circle black left_arrow" x="0px" y="0px" viewBox="0 0 52 52" enableBackground="new 0 0 52 52" >
// 	<path className="circle" strokeWidth="2" strokeLinecap='round' strokeMiterlimit='10' d="M1,26c0,13.8,11.2,25,25,25c13.8,0,25-11.2,25-25S39.8,1,26,1C12.2,1,1,12.2,1,26z"/>
// 	<g className="arrow" >
// 		<path strokeWidth="2" strokeLinecap='round' strokeMiterlimit='10' d="M22.6,25.9c0,0,1,1.6,1,4.4c0,2.6,0.6,3.5,0.6,3.8c0,0.4-0.3,0.7-0.7,0.5s-8.6-6.2-10.5-8.1
// 			c0,0-0.2-0.2-0.2-0.5v-0.1c0-0.2,0.1-0.4,0.2-0.5c1.7-1.7,10.1-7.9,10.5-8.1c0.3-0.2,0.7-0.1,0.7,0.5c0,0.3-0.6,1.1-0.6,3.8
// 			C23.6,24.3,22.6,25.9,22.6,25.9z" />
// 		<line strokeWidth="2" strokeLinecap='round' strokeMiterlimit='10' x1="24.2" y1="25.9" x2="39.3" y2="25.9"/>
// 	</g>
// </svg>
//
// <svg className="arrow_circle black right_arrow" x="0px" y="0px" viewBox="0 0 52 52" enableBackground="new 0 0 52 52" >
// 	<path className="circle" strokeWidth="2" strokeLinecap='round' strokeMiterlimit='10' d="M1,26c0,13.8,11.2,25,25,25c13.8,0,25-11.2,25-25S39.8,1,26,1C12.2,1,1,12.2,1,26z"/>
// 	<g className="arrow" >
// 		<path strokeWidth="2" strokeLinecap='round' strokeMiterlimit='10' d="M29.4,25.9c0,0-1,1.6-1,4.4c0,2.6-0.6,3.5-0.6,3.8c0,0.4,0.3,0.7,0.7,0.5s8.6-6.2,10.5-8.1
// 		c0,0,0.2-0.2,0.2-0.5v-0.1c0-0.2-0.1-0.4-0.2-0.5c-1.7-1.7-10.1-7.9-10.5-8.1c-0.3-0.2-0.7-0.1-0.7,0.5c0,0.3,0.6,1.1,0.6,3.8
// 		C28.4,24.3,29.4,25.9,29.4,25.9z"/>
// 		<line strokeWidth="2" strokeLinecap='round' strokeMiterlimit='10' x1="27.8" y1="25.9" x2="12.7" y2="25.9"/>
// 	</g>
// </svg>

.st1{opacity:0.5;fill:#B32226;enable-background:new    ;}
.st2{fill:none;stroke:#FFFFFF;stroke-width:9;stroke-miterlimit:10;}
.st3{opacity:0.5;fill:#698348;enable-background:new    ;}
.st4{fill:#FFFFFF;}
.st5{opacity:0.7;fill:#1A62AE;enable-background:new    ;}
.st6{fill:#A44F24;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
.st7{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}


.arrow_circle {
	width: 50px;
	cursor: pointer;
	border-radius: 50%;
	transition: 0.15s ease-out;
	.circle {
		fill: none;
		stroke: #D2D3D3;
	}

	.arrow {
		fill: none;
		stroke: #1461AE;
		transition: .25s ease-out;
	}

	&:hover {
		.circle {
			fill: #1461AE;
			stroke: #1461AE;
		}
		.arrow {
			fill: none;
			stroke: white;
		}
	}

	&.shadow {
		&:hover {
			box-shadow: 0 19px 60px rgba(0, 0, 0, 0.30), 0 15px 20px rgba(0, 0, 0, 0.22);
		}
	}

	&.blue {
		.circle {
			fill: none;
			stroke: #D2D3D3;
		}
		.arrow {
			fill: none;
			stroke: #1461AE;
			transition: .25s ease-out;
		}
		&:hover {
			.circle {
				fill: #1461AE;
				stroke: #1461AE;
			}
			.arrow {
				fill: none;
				stroke: white;
			}
		}
	}

	&.blue_white {
		.circle {
			fill: none;
			stroke: white;
		}
		.arrow {
			fill: none;
			stroke: white;
			transition: .25s ease-out;
		}
		&:hover {
			.circle {
				fill: white;
				stroke: white;
			}
			.arrow {
				fill: none;
				stroke: #1461AE;
			}
		}
	}

	&.red {
		.circle {
			fill: none;
			stroke: #D2D3D3;
		}
		.arrow {
			fill: none;
			stroke: #a01622;
			transition: .25s ease-out;

		}
		&:hover {
			.circle {
				fill: #a01622;
				stroke: #a01622;
			}
			.arrow {
				fill: none;
				stroke: white;
			}
		}
	}

	&.green {
		.circle {
			fill: none;
			stroke: #D2D3D3;
		}
		.arrow {
			fill: none;
			stroke: $education_color;
			transition: .25s ease-out;

		}
		&:hover {
			.circle {
				fill: $education_color;
				stroke: $education_color;
			}
			.arrow {
				fill: none;
				stroke: white;
			}
		}
	}
	&.orange {
		.circle {
			fill: white;
			stroke: white;
		}
		.arrow {
			fill: none;
			stroke: $forest_color;
			transition: .25s ease-out;

		}
		&:hover {
			.circle {
				fill: $forest_color;
				stroke: $forest_color;
			}
			.arrow {
				fill: none;
				stroke: white;
			}
		}
	}

	&.red.left_arrow {
		.circle {
			fill: none;
			stroke: #a01622;
		}
		&:hover {
			.circle {
				fill: #a01622;
				stroke: #a01622;
			}
		}
	}

	&.black {
		display: inline-block;
		vertical-align: middle;
		margin: 0 15px;
		line-height: 50px;
		margin-top: -5px;
		.circle {
			fill: none;
			stroke: black;
		}
		.arrow {
			fill: none;
			stroke: black;
			transition: .25s ease-out;
		}
		&:hover {
			.circle {
				fill: black;
				stroke: black;
			}
			.arrow {
				fill: none;
				stroke: white;
			}
		}
	}
}

.play_button {
	width: 60px;
	height: 60px;
	enable-background:new 0 0 76 76;
	border-radius: 50%;
	transition: 0.15s ease-out;
	.triangle, .circle {
		fill:none;
		stroke:#FFFFFF;
		stroke-width:3;
		stroke-miterlimit:10;
	}
	&:hover {
		box-shadow: 0 19px 60px rgba(0, 0, 0, 0.30), 0 15px 20px rgba(0, 0, 0, 0.22);
	}
	&.forest {
		&:hover {
			.triangle {
				transition: 0.15s ease-out;
				stroke: $forest_color;
			}
			.circle {
				fill: white;
			}
		}
	}
	&.education {
		&:hover {
			.triangle {
				transition: 0.15s ease-out;
				stroke: $education_color;
			}
			.circle {
				fill: white;
			}
		}
	}

	&.programs {
		&:hover {
			.triangle {
				transition: 0.15s ease-out;
				stroke: $programs_color;
			}
			.circle {
				fill: white;
			}
		}
	}
}
