* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #111;
    overflow-x: hidden;
    width: 100%;
    color: #6F6F6F ;
    font-weight: 500;
    font-size: 16px;
    font-family: roboto;
    position: relative;
}

p {
   line-height: 2;
   font-size: 16px;
   -webkit-font-smoothing: antialiased;
}

$page_color: black;

.forest {
  $page_color: #a14616;
}
.education {
  $page_color: #68814b;
}
.programs {
  $page_color: #9e1826;
}
.conservation {
  $page_color:  #1261ac;
}

#mfPreviewBar {
    display: none;
}

img.bottom_vine {
  width: 100%;
  margin: 15px 0;
}

.wrapper {
    position: relative;
    width: 300%;
    height: 100%;
    z-index: 0;
}

.other-stuff {
    z-index: 1111;
    position: relative;
    background: white;
    color: black;
    padding: 0;
    text-shadow: none;
}

.page_wrapper {
  // position: relative;
  // z-index: 111;
}


.main_content .page{
  margin-top: 97vh;
  transition: 0.15s ease-out;
  &.preloading {
    margin-top: 100vh!important;
  }
}
.page_container {
  z-index: 100;
  position: relative;
  margin-top: -10px;
  // position: absolute;
  // width: 100%;
  // top: 97%;
  transition: 0.15s ease-out;
  .forest & {
    border-top: $forest_color 10px solid;
  }
  .education & {
    border-top: $education_color 10px solid;
  }
  .programs & {
    border-top: $programs_color 10px solid;
  }
  .natural-resources & {
    border-top: $conservation_color 10px solid;
  }
  .preloading & {
    width: 0%;
  }
}

.image_container {
    width: 100%;
    margin: auto;
    max-width: 1440px;
    padding: 0 15px;
    img {
        width: 1440px;
        display: table;
    }
}

.image_container:after{
  content: '';
  display: table;
  clear: both;
}

.image_container:before,
.image_container:after {
  content: '';
  display: table;
}
.image_container:after {
  clear: both;
}
.image_container {
  zoom: 1;
}

.cf:after{
  content: '';
  display: table;
  clear: both;
}

.cf:before,
.cf:after {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}

.egg_wrap {
  background: url(/img/eggshell.jpg);
  &.padded {
    padding: 50px 0;
  }
  &.bpadded {
    padding-bottom: 50px;
  }
  &.tpadded {
    padding-top: 50px;
  }
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 0 30px;
    width: 100%;
    height: 60px;
    transition: 0.15s ease-out;
    display: flex;
    flex-direction: row;
    flex-flow: space-between;
    line-height: 60px;


    .scrolled & {
      background: transparent;
      color: white;
    }
    .header_up & {
      background: rgba(0,0,0,0.8);
      color: white;
    }


    .logo {
        flex: 0 178px;
        height: 55px;
        padding: 5px 0;
    }

    .global_menu {
      flex: 1;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .menu_icon {
      flex: 0 178px;
    }

    .menu_icon {
      text-align: right;
      cursor: pointer;
    }

    h2 {
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
        font-size: 1.7em;
        line-height: 50px;
    }

    h1 span {
        font-weight: 300;
    }
}

.global_menu {
  .link {
    padding: 0 15px;
    position: relative;
    margin-left: 20px;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: $grey;
      transition: 0.5s ease-out;
      .forest &  {
        background: $forest_color;
      }
      .education & {
        background: $education_color;
      }
      .programs & {
        background: $programs_color;
      }
      .natural-resources & {
        background: $conservation_color;
      }

      left: -2px;
      top: 50%;
      margin-top: -4px;
    }
  }
}

/* Video Pages */

.fontenelle, .main_content, .video_container, .page, .router {
    // height: 100%;
}

.loading .main_content {
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .fa.fa-cog.fa-spin {
    font-size: 50px;
  }
  .load_message {

  }
}

#limit-svg {
    display: block;
    width: 100%;
    height: 500px;
    border: black solid 1px;
}

#video-background {
  .scrolled & {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    display:block;
  }
  display: none;
}

.slide_controls {

  .slider_button {
      padding: 0px;
      cursor: pointer;
      transition: 0.15s ease-out;
      width: 30px;
      display: inline-block;
      position: fixed;
      top: 50%;
      z-index: 3;
      color: white;
      margin-top: -25px;

      &.left {
        left: 15px;
      }
      &.right {
        right: 15px;
      }
      &:hover {
          opacity: 0.8;
      }
  }
}


.white_overlay, .dark_overlay {
	display:none;
}

.overlay_up .white_overlay {
	display: block;
	position: absolute;
	width: 800px;
	margin: auto;
	top: 10%;
	z-index: 111111;
	left: 50%;
	margin-left: -400px;
	height: 80%;
	overflow: scroll;
}

.overlay_up .dark_overlay {
	display: block;
	height: 100%;
	width: 100%;
	z-index: 111111;
	position: fixed;
	background: rgba(0,0,0,0.7);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


.container {
    width: 100%;
    margin: auto;
}

.page {
    width: 100%;
}

body.page1_up .page.page1 {
	display: block;
}

body.page1_up .page.page2 {
	display: none;
}

body.page2_up .page.page2 {
	display: block;
}

body.page2_up .page.page1 {
	display: none;
}


.menu_button, .close_button {
	cursor: pointer;
	margin: 0 15px;
}

.menu_button {
}

.close_button {
	background: transparent;
	top: 0;
	right: 0;
	position: absolute;
}

.menu_wrapper {
	display: none;
	position:absolute;
	opacity: 0;
	z-index: -1;
	transition: 0.2s ease-in-out;
	font-weight: normal;


  .container {
  	max-width: 800px;
  	margin-top: 10%;
  }

  .header {
  	background: black;
  	text-align: center;
  	padding: 10px;
  }

  .header .title {
  	width: 30%;
  	display: inline-block;
  	text-transform: uppercase;
  }

  .column {
  	width: 32%;
  	margin-right: 1%;
  	display: inline-block;
  }

  .column .item {
  	display: block;
  	position: relative;
  	padding: 20px;
  }

  .column .item:before {
      content: '';
      position: absolute;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: white;
      left: -2px;
      top: 50%;
      margin-top: -4px;
  }

}

.menu_display .menu_wrapper {
	display: block;
	position: fixed;
	opacity: 1;
	z-index: 11111111;
	background: rgba(0,0,0,0.8);
	height: 100%;
	width: 100%;
	top: 0;
}

.menu_display .menu_button {
	display: none;
}

footer {
  height: 300px;
  position: relative;
  background: #010101;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

footer img {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: table;
}

footer div ul li:first-child:before {
    content: "";
}
footer div ul li:before {
    content: "| ";
}
footer div ul li {
    display: inline-block;
    padding-right: 7px;
}

footer {
    display: flex;
    flex-direction: column;
}

footer nav a {
  background-repeat: no-repeat;
  text-indent: -9999px;
  width: 47px;
  height: 47px;
  display: inline-block;
  padding-right: 55px;
}

footer nav a.social_fb {background-image: url(/img/social-fb.png);}
footer nav a.social_tw {background-image: url(/img/social-tw.png);}
footer nav a.social_ig {background-image: url(/img/social-ig.png);}
footer nav a.social_yt {background-image: url(/img/social-yt.png);}
footer nav a.social_fl {background-image: url(/img/social-fl.png);}

.footer_top.copy_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

.newsletter {
  padding-top: 12px;
}

.newsletter a, .newsletter a:visited {
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    padding: 5px 38px 5px 10px;
    background-image: url(/img/subscribe-arrow.gif);
    background-repeat: no-repeat;
    background-position: right;
}

.newsletter a:hover {
  color: #000;
  text-decoration: underline;
}

.contactinfo ul {
    display: flex;
    flex-wrap: wrap;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-out;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-out;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}

.video-container {
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
}

.content_container {
  z-index: 1;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.25);
}

.content_container .content_wrapper {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}
.content_container .content_wrapper img {
  display: table;
  margin: auto;
}


.main_wrapper {
  max-width: 100%;
  width: 1200px;
  margin: auto;
  position: relative;
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.close_menu_button {
  color: white;
  font-size: 50px;
  position:fixed;
  top: 0;
  right: -500px;
  padding: 20px;
  line-height: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-weight: 100;

  &:hover {
    color: rgba(255, 255, 255, 0.4);
  }
}
.menu_open {
  // position: fixed;
  // width: 100%;
}
.sidebar {
  position: fixed;
  right: -400px;
  top: 0;
  transition: 0.15s ease-out;
  color: white;
  height: 100%;
  overflow: scroll;
  .sidebar_links {
    margin-top: 60px;
    padding: 0 25px 50px;
    .link {
      display: block;
      text-transform: uppercase;
      transition: 0.15s ease-out;
      &:hover {
        opacity: 0.8;
      }
      .main {
        border-bottom: 2px solid $grey;
        &.forest {
          border-bottom: 2px solid $forest_color;
        }
        &.conservation {
          border-bottom: 2px solid $conservation_color;
        }
        &.programs {
          border-bottom: 2px solid $programs_color;
        }
        &.education {
          border-bottom: 2px solid $education_color;
        }
      }
    }
    a {
      text-decoration: none;
    }
    .section {
      font-family: 'roboto';
      font-weight: 100;
      padding: 5px 0 0 15px;
      font-size: 0.9em;
      cursor: pointer;
    }

  }
  .menu_open & {
    width: 400px;
    background: black;
    z-index: 999999;
    right: 0;
    top: 0;

    .close_menu_button {
      right: 0;
    }
  }
}

.menu_overlay {
  opacity: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.1s ease-out;
  .menu_open & {
    z-index: 99999;
    opacity: 0.6;
    background: black;
  }
}

.prev_page, .next_page {
  float: left;
  line-height: 75px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.bottom_nav {
  height: 75px;
  color: black;
}

.prev_page {
}

.next_page {
  float: right;
}

.content_container {
  background: transparent;
}
.video_overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  background-size: 10px;
}

/* End Codrops Header Style */
/* Thanks, Codrops! */

.static {
  padding: 100px 30px 50px;
}

.backyard {
  text-align: center;
  position: relative;
  top: 30px;
  width: 500px;
  margin: 0 auto;
  max-width: 100%;
}
.menu_icon {


  .hamburger,.menu_label {
    display: inline-block;
    vertical-align: middle;
  }
}

.page.velocity-animating {
	position: relative;
	top: 0;
}

img {
	max-width: 100%;
}

*::selection {
  background: black;
  color: white;
}
