.time_title {
  text-align: center;
  font-size: 65px;
  background: $conservation_color;
  color: white;
}

.habitat_thing_link,.habitat_thing_link:visited, .habitat_thing_link:hover  {
  color: $conservation_color;
}

.timeline_wrapper {
	width: 100%;
	overflow: hidden;
  padding: 0;

  .year {
    text-align: center;
    color: $grey;
  }
  .circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: $grey;
    display: table;
    margin: 15px auto;
  }

	.timeline {
    position: relative;
    transition: 0.25s ease-out;
    .the_line {
      height: 2px;
      background: #ccc;
      display: block;
      position: absolute;
      margin: 15px;
      left: 100px;
      top: 70px;
    }
		.timeline_item {
			width: 400px;
      margin: 15px;
			display: inline-block;
			vertical-align: top;
      position: relative;
      .timeline_container {
        background: white;
        padding: 15px;
        position: relative;
        margin-top: 30px;

        .title {
          color: $conservation_color;
          font-size: 20px;
        }
        .description {
          font-size: 16px;
        }
        &:before {
          content: '';
          position: absolute;
          border: transparent 30px solid;
          border-bottom: white 20px solid;
          top: -50px;
          left: 50%;
          margin-left: -30px;
        }
      }
    }
	}
}

.natural-resources .content_container {
  .video_overlay {
    background-image: url('/img/conservation/pattern_video-overlay.svg');
  }
}

.thousandyears, .meetraptors, .urbanwildlife {
  background-color: $conservation_color;

  .video_overlay {
    background-image: url('../img/conservation/pattern_video-overlay.svg');
    opacity: 0.6;
  }
  h2 {
    font-size: 30px!important;
  }
  img {
    margin-top: 15px;
  }
}


.ongoing_story_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 50px;
  .image_container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    img {
      max-width: 100%;
    }
  }
  &.birds_container {
    justify-content: flex-end;
    justify-content: flex-end;
    padding-bottom: 0;
    padding-right: 100px;
    padding-top: 50px;
    .birds_right {
      width: 200px;
      img {
        max-width: 100%;
      }
    }
  }
  .streetsign {
    flex: 0 0 175px;
    img {
      max-width: 100%;
    }
  }
  .copy_container {
    flex: 5;
    text-align: left;
    padding-left: 50px;
    padding-right: 160px;
    h2 {
      color: $conservation_color;
      font-size: 50px;
    }
    p {
      margin-bottom: 25px;
    }
  }
}
.timeline_wrapper {
  position: relative;
}
.timeline_button {
  position: absolute;
  width: 50px;
  z-index: 1;
  cursor: pointer;
  line-height: 0;
  top: 25px;
  &.right {
    right: 15px;
  }
  &.left {
    left: 15px;
  }
}

.habitat_home_container {
  padding: 50px 0;

  .copy_container {
    width: 600px;
    max-width: 100%;
    margin: auto;
    h2 {
      color: $conservation_color;
      font-size: 50px;
    }
  }
}

.habitat_container {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  &:nth-child(2n-1){
    margin-right: 10%;
  }
  padding: 50px 0;
  .image_container {
    flex: 2;
    img {
      max-width: 100%;
    }
  }
  .copy_container {
    flex: 4;
    text-align: left;
    padding-left: 1em;
    h2 {
      color: $conservation_color;
      font-size: 25px;
      font-family: 'roboto_condensedbold';
      line-height: 0.2em;
      padding-top: 1em;
    }
  }
}

.habitat_marker {
  background: $conservation_color;
  text-align: center;
  line-height: 2;
  font-size: 40px;
  color: white;
}

.raptor_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 0;
  .image_container {
    flex: 3;
    img {
      max-width: 100%;
      padding: 0 4em 3em;
      vertical-align: top;
    }
  }
  .raptor img{
    display: table;
    margin: 30px auto 15px;
  }
  .the_raptor img {
    width: 450px;
    max-width: 100%;
  }
  .copy_container {
    flex: 3;
    text-align: left;
    padding-right: 100px;
    h2 {
      color: $conservation_color;
      font-size: 25px;
      font-family: 'roboto_condensedbold';
      line-height: 0.2em;
      padding-top: 1em;
    }
    .marker {
      font-family: 'PermanentMarkerPro', Helvetica, Arial, Sans-Serif;
      font-size: 3em;
      padding-top: 0;
      line-height: 1;
    }
  }
  .raptor {
    padding-bottom: 1em;
    text-align: center;
    width: 700px;
    max-width: 100%;
    margin: auto;
    a {
      color: $conservation_color;
    }
    p {
      margin-bottom: 10px;
    }
  }
}

.natural-resources {
  .color {
    color: $conservation_color;
    font-size: 50px;
    text-align: center;
  }
  .content_container {
    .video_overlay {
      background-image: url('/img/conservation/pattern_video-overlay.svg');
    }
  }
}
.birds {
  display: flex;
	flex-flow: row wrap;
	align-content: flex-end;
	align-items: center;
	justify-content: center;
}
.bird {
  width: 45%;
  display: flex;
  margin: 0;
  .bird_title {
    color: $conservation_color;
  }
  .bird_img {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-right: 15px;
  }
  .bird_copy {

  }
}

.nature_notes_header .raptor {
  padding-bottom: 1em;
  text-align: center;
  width: 700px;
  max-width: 100%;
  margin: auto;
  a {
    color: $conservation_color;
  }
  p {
    margin-bottom: 10px;
  }
  .marker {
		margin: 25px auto;
		color: $conservation_color;
		font-size: 50px;
	}

}
.natural-resources .hero_content {
    .hero_textured_color {
      background-image: url(/img/conservation/texture.svg);
    }
}
