.education_video {
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: $education_color;

  .education.video_overlay {
    background-image: url('../img/education/pattern_video-overlay.svg');
    background-size: 15px;
    background-color: #68814b;
    opacity: 0.8;
  }

  .education_video_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0;
    position: relative;
    
    .centered_content {
      max-width: 100%;
      width: 500px;
      text-align: center;
      color: white;
      h2 {
        font-size: 45px;
      }
      &.wide {
        width: 1000px;
      }
    }
  }
}

.education .content_container {
  .video_overlay {
    background-image: url('/img/education/pattern_video-overlay.svg');
  }
}
