@font-face {
	font-family: 'PermanentMarkerPro';
	src: url('../fonts/permanent-marker-pro.eot');
	src: url('../fonts/permanent-marker-pro.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/permanent-marker-pro.woff2') format('woff2'),
	     url('../fonts/permanent-marker-pro.woff') format('woff'),
	     url('../fonts/permanent-marker-pro.ttf') format('truetype'),
	     url('../fonts/permanent-marker-pro.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}
