.now-left {
	float: left;
	display: inline-block;
  width: 50.6%;
}

.now-right {
	float: right;
	display: inline-block;
  width: 49.4%;
}

.now-blue {
	background-color: $conservation_color;
	height: 60px;
	max-width: 1440px;
}

.now-links {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	padding: 20px 170px;
}

.now-links a, .now-links span {
	padding: 10px 25px;
	color: #fff;
}

.now-links span a {
	padding-left: 0;
	padding-right: 0;
}

.forest-now .static, .save-the-oaks .static, .get-involved .static {
	padding: 60px 30px 50px !important;
}

.nature_notes {
	display: flex;
	flex-direction: row;
	.plantlife, .wildlife {
		flex: 1;
	}
	.nature_notes_item {
		display: flex;
		flex-direction: row;
		.plantlife_img {
			height: 150px;
			flex: 0 0 150px;
			margin-right: 20px;
		}

		.plantlife_copy {
			flex: 1;
			.plantlife_title {
				margin-top: 0;
			}
			.plantlife_link {
				color: $conservation_color;
			}
		}
	}
}
