.now-left {
	float: left;
	display: inline-block;
  width: 50.6%;
}

.now-right {
	float: right;
	display: inline-block;
  width: 49.4%;
}

.now-blue {
	background-color: $conservation_color;
	height: 60px;
	max-width: 1440px;
}

.now-links {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	padding: 20px 170px;
}

.now-links a, .now-links span {
	padding: 10px 25px;
	color: #fff;
}

.now-links span a {
	padding-left: 0;
	padding-right: 0;
}

.forest-now .static, .save-the-oaks .static, .get-involved .static {
	padding: 60px 30px 50px !important;
}
.nature_notes_header {
	padding-top: 60px;
	padding-bottom: 1px;
	h2.marker {
		text-align: center;
		background: $conservation_color;
		color: white;
    font-size: 40px;
    line-height: 2;
		margin-bottom: 0;
	}
	.closing {
		background: $programs_color;
		color: white;
		margin: 2px 0;
		transition: 0.15s ease-out;
		.more_closing {
			float: right;
			font-family: 'roboto';
			cursor: pointer;
			&:hover {
				opacity: 0.8;
			}
		}
		p {
			font-size: 18px;
			margin: 0;
			padding: 0 15px;
			font-family: 'roboto_condensedbold';
		}
	}
}
.nature_notes {
	display: flex;
	flex-direction: row;
	.plantlife, .wildlife {
		flex: 1;
		margin-right: 5%;
    margin-bottom: 5%;
	}
	.nature_notes_item {
		display: flex;
		flex-direction: row;
		.plantlife_img {
			height: 150px;
			flex: 0 0 150px;
			margin-right: 20px;
		}

		.plantlife_copy {
			flex: 1;
			.plantlife_title {
				margin-top: 0;
			}
			.plantlife_link {
				color: $conservation_color;
			}
		}
	}
}

.plantlife_header {
	color: $conservation_color;
	border-bottom: #aaa 5px solid;
	font-family: 'roboto_condensedbold';
}
