.photogallery_header {
  background: $orange;
  background-image: url('/img/forest/leaf-left-hex_a04e23.png'), url('/img/forest/leaf-right-hex_a04e23.png');
  background-position: left, right;
  background-size: contain, contain;
  background-repeat: no-repeat;
  color: white;
  padding: 25px 0;
  text-align: center;
  h3 {
    font-size: 40px;
  }
}
.image_container {
  img {
    max-width: 100%;
  }
}
.quiet_wild_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  .image_container {
    flex: 2;
    img {
      max-width: 100%;
    }
  }
  .copy_container {
    flex: 3;
    text-align: center;
    h2 {
      color: $orange;
      font-size: 50px;
    }
  }
}

.video_close {
  border: 2px solid white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: block;
  line-height: 20px;
  cursor: pointer;
  position: absolute;
  left: -30px;
  top: 0;
  transition: 0.15s ease-out;
  &:hover {
    opacity: 0.8
  }
}
.vine_bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  .left-half {
    flex: 1;
  }
  .down-orange {
    width: 50px;
  }
  .right-half {
    flex: 1;
  }
}

.gallery_button {
  position: absolute;
  width: 25px;
  top: 50%;
  margin-top: -15px;
  z-index: 1;
  transition: 0.15s ease-out;
  cursor: pointer;

  &.right {
    right: 15px;
  }
  &.left {
    left: 15px;
  }
  &:hover {
    opacity: 0.7;
  }
}

.tearjerker_video {
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: $forest_color;
  .tearjerker.video_overlay {
    background-image: url('../img/forest/pattern_video-overlay.svg');
    opacity: 0.8;
  }
  .tearjerker_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0;
    position: relative;

    .centered_content {
      max-width: 100%;
      width: 500px;
      text-align: center;
      color: white;
      position: relative;
      padding: 12% 0;
      h2 {
        font-size: 45px;
      }
      &.wide {
        width: 1000px;
        padding: 0;
      }
    }
  }
}

.centered_content {

}

.prop_container {
  display:flex;
  flex-direction: row;
  margin-top: 30px;
  .property {
    flex:1;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    h3 {
      font-size: 40px;
      text-align: center;
      margin-bottom: 0px;
    }
    p {
      text-align: center;
      font-size: 18px;
    }
  }
}

.forest {
  .color {
    color: $forest_color;
    font-size: 50px;
    text-align: center;
  }
  .content_container {
    .video_overlay {
      background-image: url('/img/forest/pattern_video-overlay.svg');
      opacity: 0.6;
    }
  }
}
