

.fb_wrapper h2, .fb_wrapper h3, li.fb_listhead {color: #1261ac;}

.element_contain {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0 15px;
}

.element_spread {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.fb_columns ul {
  padding: 0;
  list-style: none;
  width: 50%;
  margin: 0 15px;
}

.fb_columns ul li {
  border-bottom: 2px solid #999;
  padding: 15px 0;
  font-weight: normal;
}

.fb_columns ul li.fb_listhead {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 0px;
  font-family: 'roboto_condensedbold';
  font-size: 20px;
  padding: 40px 0 0;
}

.fb_columns ul li.fb_listhead.c_start {
  padding-top: 0;
}

.fb_columns ul li:last-child {
  border-bottom: 0px;
}

.fb_container .fb_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 50px 0;
    position: relative;
}

.fb_container .fb_wrapper .centered_content {
    max-width: 100%;
    width: 1200px;
    position: relative;
    padding: 0;
}

.fb_container .featured_image {
    background-size: cover;
    height: 500px;
    background-position: center;
    background-image: url('../img/found-raptor/FF-Found-Bird-Header.jpg');
}

.fb_wrapper .centered_content h2 {
    font-size: 50px;
    text-align: center;
    padding-top: 45px;
}

.fb_break {
    width: 50%;
    padding: 25px 0;
    margin: 0 auto;
    display: flex;
}

.fb_intro {
  text-align: center;
}

.fb_contact, .fb_columns {
  display: flex;
  justify-content: space-between;
}

.fb_numbers {
  padding-left: 20px;
  ul, .fb_columns ul {
    list-style: none;
    margin-left: 0;
    li {
      margin-left: 0;
      p {
        text-align: left;
      }
    }
  }
}

.fb_map {
  width: 70%;
  padding-right: 20px;
}
