

.donate h2, .donate h3 {color: #1261ac;}
.join h2, .join h3 {color: #a04e23;}
.volunteer h2, .volunteer h3 {color: #68814b;}

.donate_container, .join_container, .volunteer_container {
  padding-bottom:50px;
}

.element_contain {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0 15px;
}

.element_spread, .gi_pricing ul li {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.gi_pricing {
  padding-top: 20px;
}

.gi_pricing ul {
  padding: 0;
}

.gi_pricing ul li {
  border-top: 1px solid #999;
  padding: 15px 0;
  font-size: 25px;
  font-weight: bold;
  color: #000;
}

.gi_pricing ul li:last-child {
  border-bottom: 1px solid #999;
}

.gi_pricing ul li span em, .gi_pricing h3 span em {
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  color: #000;
}


//Start the Found Raptor here and clean up later

.fb_container .fb_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
    position: relative;
}

.fb_container .fb_wrapper .centered_content {
    max-width: 100%;
    width: 500px;
    text-align: center;
    color: white;
    position: relative;
    bottom: -100px;
    padding: 0;
}

.fb_container .featured_image {
    background-size: cover;
    height: 500px;
    background-position: center;
    background-image: url('../img/found-raptor/FF-Found-Bird-Header.jpg');
}

.fb_wrapper .centered_content h2 {
    font-size: 50px;
    text-align: center;
    padding-top: 45px;
}

.fb_wrapper .centered_content p {
    text-align: center;
}

.fb_break {
    width: 50%;
    padding: 25px 0;
    margin: 0 auto;
    display: flex;
}
