.post_container {
	padding-top: 60px;
	padding-bottom:  20px;
	.featured_image {
		background-size: cover;
		height: 500px;
		background-position: center;
		h1 {
			text-transform: uppercase;
		}
	}
	.copy_container {

	}
	.post_title {
		color: black;
		font-size: 50px;
	}
	img, figure {
		max-width: 100%;
		&.aligncenter {
			display: table;
			margin: auto;
		}
		&.alignleft {
			float: left;
			margin: 0 15px;
		}
		&.alignright {
			float:right;
			margin: 0 15px;
		}
		figcaption {
			background: #ddd;
			line-height: 2;
			margin-top: -5px;
			text-align: center;
		}
	}
	p {
		margin: 30px 0;
	}

	.main_wrapper {
		width: 900px;
		padding: 0 15px;
	}
}

.post_wrapper {
	padding: 0 15px;
	.date {
		color: black;
    font-style: italic;
    text-align: right;
    line-height: 3;
	}
	a, a:visited {
		color: $conservation_color;
	}
	img, figure {
		max-width: 100%;
		&.aligncenter {
			display: table;
			margin: auto;
		}
		&.alignleft {
			float: left;
			margin: 0 25px 0 0;
		}
		&.alignright {
			float:right;
			margin: 0 0 0 25px;
		}
		figcaption {
			background: #ddd;
			line-height: 2;
			margin-top: -5px;
			text-align: center;
		}
	}
	p {
		margin: 30px 0;
	}
	p.date {
		margin-top: 0;
	}
	h2 {
    clear: both;
    padding: 25px 0 0;
	}

	strong {
		color: #000;
	}
}

div.postclear {
	clear: both;
	height: 40px;
}
