.programs_video {
  position: relative;
  background-size: cover;
  background-position: center;
  .programs.video_overlay {
    background-image: url('../img/programs/pattern_video-overlay.svg');
    background-color: #9e1826;
    opacity: 0.8;
  }
  .programs_video_wrapper {
    background-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0 ;
    position: relative;

    .centered_content {
      max-width: 100%;
      width: 500px;
      text-align: center;
      color: white;
      position: relative;
      h2 {
        font-size: 45px;
      }
      &.wide {
        width: 1000px;
        position: relative;
      }
    }
  }
}

.programs  {
  .video_overlay {
    background-image: url('/img/programs/pattern_video-overlay.svg');
  }
}

.video_play {
  width: 60px;
  cursor: pointer;
}

.for_kids_container {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  .image_container {
    flex: 2;
    img {
      max-width: 100%;
    }
  }
  .copy_container {
    flex: 3;
    h2 {
      font-size: 50px;
      text-align: left;
    }
    p {
    }
  }
}

.spider {
  transition: 0.15s ease-out;
  width: 350px;
  max-width: 100%;
  &.rotated {
    transform: rotateY(180deg) rotate(-125deg);
  }
}

.binoculars {
  width: 337px!important;
  max-width: 100%!important;
  margin: auto;
}


.programs {
  .quiet_wild_container .copy_container h2 {
    color: $programs_color;
  }
  .color {
    color: $programs_color;
    font-size: 50px;
    text-align: center;
  }

  .preogram_forest_now {
    text-align: center;
    .color {
      font-size: inherit;
    }
  }

  .vine_bottom {
    margin-bottom: 20px;
  }

  .current_class {
    background-color: rgba(158,24,38,0.1);
    .reset_class {
      border-color: $programs_color;
      color: $programs_color;
    }
  }
}

.programs .hero_content {
  .hero_header {
    font-size: 60px;
  }
  .hero_textured_color {
    background-image: url(/img/programs/texture.svg);
  }
}
