.programs_video {
  position: relative;
  background-size: cover;
  background-position: center;
  .programs.video_overlay {
    background-image: url('../img/programs/pattern_video-overlay.svg');
    background-color: #9e1826;
    opacity: 0.8;
  }
  .programs_video_wrapper {
    background-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0 ;
    position: relative;

    .centered_content {
      max-width: 100%;
      width: 500px;
      text-align: center;
      color: white;
      position: relative;
      h2 {
        font-size: 45px;
      }
      &.wide {
        width: 1000px;
        position: relative;
      }
    }
  }
}

.programs  {
  .video_overlay {
    background-image: url('/img/programs/pattern_video-overlay.svg');
  }
}

.video_play {
  width: 60px;
  cursor: pointer;
  transition: 0.15s ease-out;
  &:hover {
    opacity: 0.8
  }
}
