$orange: #a04e23;
$forest_color: #a04e23;
$education_color: #68814b;
$programs_color: #9e1826;
$conservation_color:  #1261ac;

@import "base";
@import "fonts";
@import "typography";

@import "map";
@import "photogallery";

@import "forest";
@import "education";
@import "programs";


.page.velocity-animating {
	position: absolute;
	top: 0;
}
