$orange: #a04e23;
$forest_color: #a04e23;
$education_color: #68814b;
$programs_color: #9e1826;
$conservation_color:  #1261ac;
$raptors_color:  #6db0c2;

$grey: #808080;

@import "base";
@import "fonts";
@import "typography";

@import "map";
@import "photogallery";

@import "conservation";
@import "forest";
@import "education";
@import "programs";
@import "contact";
@import "forestnow";
@import "getinvolved";
@import "foundraptor";
@import "board";
@import "hours";
@import "arrows";
@import "loading";
@import "posts";
@import "raptors";

.job {
  border-bottom: white 1px solid;
  padding-bottom: 15px;
  .job_headline {
    color: black;
  }
  p {
    margin: 0;
    line-height: 1.5;
  }
  a {
    color: $conservation_color;
  }
  .job_label {
    color: black;
  }
}

@import "mobile/media";

.ie {
  &.forest {
    .video_overlay {
      background: #351212 !important;
    }
  }
  &.education {
    .video_overlay {
      background: #59AA6C !important;
    }
  }
  &.programs {
    .video_overlay {
      background: #8F1825 !important;
    }
  }
  &.natural-resources {
    .video_overlay {
      background: #2F7ABE !important;
    }
  }
  .video_overlay {
    background: black !important;
  }
}
