<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">

    <title>Maverick Mayhem<% if (locals.title) { %><%= title %><% } %></title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/style.css">

    <link rel="shortcut icon" href="">

    <meta name="google-site-verification" content="K_yIBC7KRlaZ3mFQP7wpzRh-xZaqn-Y0M011TVC0wdk" />

    <!-- Fonts -->
    <script type="text/javascript">
        (function() {
            var path = '//easy.myfonts.net/v2/js?sid=211382(font-family=DIN+Next+Pro+Condensed+Bold)&sid=217467(font-family=DIN+Next+Pro+Light)&sid=217469(font-family=DIN+Next+Pro+Regular)&sid=217470(font-family=DIN+Next+Pro+Medium)&key=yQaDn5avoI',
                protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
                trial = document.createElement('script');
            trial.type = 'text/javascript';
            trial.async = true;
            trial.src = protocol + path;
            var head = document.getElementsByTagName("head")[0];
            head.appendChild(trial);
        })();
    </script>

    <!-- Modernizr -->
    <script type="text/javascript" src="/js/modernizr.min.js" async></script>

  </head>
  <body>

     <script src="/js/index.js" async></script>
  </body>
</html>
