@media screen and (max-width: 800px) {
  @import "header";
  @import "forest";
  @import "natural_resources";
  @import "education";
  @import "programs";
  @import "forest_now";
  @import "found_raptor";

  .bottom_nav {
    .prev_page, .next_page {
      span {
        display: none;
      }
    }
  }
  .slide_controls {
    display: none;
    .slider_button {
      bottom: 100px;
      top: auto;
      width: 20px
    }
  }

  .hero_content {
    .hero_icon,.hero_icon:hover  {
      width: 75px;
    }
  }

  .menu_open .sidebar {
    width: 400px;
    max-width: 100%;
  }
  footer {
    padding: 15px 0;
  }

  .main_content .page {
    &.preloading {
      margin-top: 0 !important;
    }
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
  .page_wrapper {
    order: 2;
  }
  .video-container {
    height: auto;
    order: 1;
    position: relative;
    .content_container {
      height: auto;
      width: 100%;
      padding: 75px 0;
    }

  }
  .newsletter {
    a {
      display: block;
      margin: 10px 0;
    }
  }
  .play_button_wrapper .left_leaf, .play_button_wrapper .right_leaf {
      max-height: 60px;
  }

  .classes_container {
    padding: 50px 15px 0 15px;
    .copy_container h2 {
      height: auto;
    }
  }
  .living_classroom_container {
    padding: 50px 15px;
    text-align: left;
    .copy_container {
      text-align: left;
    }
  }
  .classes_container .copy_container .in_forest, .classes_container .copy_container .on_go {
    background-size: 40px;
  }

}

@media screen and (max-width: 600px) {
  .nature_notes{
    display: block;
    .plantlife, .wildlife {
      width: 100%;
    }
  }
}
