@media screen and (max-width: 480px) {
  @import "header";
  @import "forest";
  @import "natural_resources";
  @import "education";
  @import "programs";
  @import "forest_now";
  @import "found_raptor";

  .bottom_nav {
    .prev_page, .next_page {
      span {
        display: none;
      }
    }
  }
  .slide_controls {
    display: none;
    .slider_button {
      bottom: 100px;
      top: auto;
      width: 20px
    }
  }

  .hero_content {
    .hero_icon,.hero_icon:hover  {
      width: 75px;
    }
  }

  .menu_open .sidebar {
    width: 400px;
    max-width: 100%;
  }
  footer {
    z-index: 100;
  }

  .main_content .page {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
  .page_wrapper {
    order: 2;
  }
  .video-container {
    height: auto;
    order: 1;
    position: relative;
    .content_container {
      height: auto;
      width: auto;
      padding: 100px 0 50px;
    }

  }
  .newsletter {
    a {
      display: block;
      margin: 10px 0;
    }
  }



}
