.programs_page {
  .hero_content .hero_header {
    font-size: 40px;
    padding: 15px
  }
}
.for_kids_container {
  display: block;
  padding: 15px;
  img.binoculars {
    width: 150px !important;
    display: table;
  }
}

.centered_content {
  padding: 15px;
}

.spider {
  width: 200px;
  display: table;
  margin: auto;
}

.p_groups.p_columns {
  display: block;
  padding: 15px;
  div {
    width: 100%;
    img {
      display: table;
      width: 200px;
      margin: auto;
    }
  }
  div:first-child {
    padding: 0;
  }
}
